     <div id="top" class="row">
	    <div class="col-md-3">
	        <h2>{{message}}</h2>
	    </div>
     </div> <!-- /#top -->
     <hr>
     <div id="list" class="row">
	   <div class="table-responsive col-md-12">
	        <table class="table table-striped" cellspacing="0" cellpadding="0">
	            <thead>
               		<tr>
	                    <th>ID</th>
               		    <th>Nombre</th>
	                 </tr>
	            </thead>
	            <tbody >
               		<tr *ngFor="let metodo_pago of asyncMetodoPago|async">
	                    <td *ngIf="metodo_pago">{{metodo_pago.id}}</td>
               		    <td *ngIf="metodo_pago">{{metodo_pago.name}}</td>
	                </tr>
	            </tbody>
	         </table>
	     </div>
     </div> <!-- /#list -->

	<div id="bottom" class="row" >

             </div> <!-- /#bottom -->

