button{
  width:150px;
  height:50px;
  border-radius:3px;
  color:#fff;
  opacity:1;
  font-weight:bold;
  outline:none;
}
td{
  text-align:center;
}
#status{
  width:20px;
  height:20px;
  border-radius:10px;
  float:left;
  margin-right:5px;
}
.green{
  background:#5cb85c;
  border:solid 1px #4cae4c;
}
.green:hover{
  background:#68cf68;
}
.green:active{
  background:#4c9a4c;
}
.blue{
  background:#1e8cd2;
  border:solid 1px #186fa6;
}
.blue:hover{
  background:#28acff;
}
.blue:active{
  background:#1b7cba;
}
.red{
  background:#e5252e;
  border:solid 1px #c41c24;
}
.red:hover{
  background:#ff4952;
}
.red:active{
  background:#bc232b;
}
